@import "../../../../style/theme";

.message-bubble {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  &-text-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;

    .message-bubble-name {
      margin: 0 8px 4px 8px;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &-text {
    position: relative;
    margin: 0 8px;
    padding: 8px;
    border: {
      radius: 4px;
    }
    white-space: normal;
    word-break: break-word;
    flex-shrink: 1;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 12px;
      transform: rotate(45deg);
      width: 8px;
      height: 8px;
      border-radius: 2px;
      background: #b0e46e;
    }
  }
  &-avatar {
    flex-shrink: 0;
  }

  &-mine {
    .message-bubble-text-wrapper {
      align-items: flex-end;
    }
    .message-bubble-text {
      background: #b0e46e;

      &::after {
        right: -4px;
        background: #b0e46e;
      }
    }
  }

  &-other-side {
    .message-bubble-text-wrapper {
      align-items: flex-start;
    }
    flex-direction: row-reverse;
    .message-bubble-text {
      background: #ffffff;

      &::after {
        left: -4px;
        background: #ffffff;
      }
    }
  }
}
