@import "../../../../style/theme";

.session-list {
  flex-shrink: 0;
  width: 320px;
  border-right: 1px solid #eeeeee;

  ul {
    list-style: none;
    padding-left: 0;
    overflow: auto;
    .session-list-link.active {
      .session-item-name {
        color: $theme-color;
      }
    }
  }
}
