@import "../../../../style/theme";

.chat-slide-bar {
  flex-shrink: 0;
  width: 80px;
  height: 100%;
  background: #504e4f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 32px;

  &-avatar {
    background: $theme-color;
  }
  &-link.active {
    .chat-slide-bar-icon {
      color: $theme-color;
    }
  }
  &-icon-wrapper {
    display: inline-block;
    margin-top: 32px;
  }
  &-icon {
    font-size: 30px;
    color: #bdbdbd;
    &-placeholder {
      flex-grow: 1;
    }
  }
}
